<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<script type="text/javascript" src="../js/angle.js"></script>
		<script type="text/javascript" src="../js/spinner.js"></script>
		<script type="text/javascript" src="../js/main.js"></script>
	</head>
	<!-- -------------------------------- ------------------------------------ -->
	<body>
		<section class="container">
			<span>Enter the number of parts for spinner:</span>
			<input type="text" id="sides" placeholder="parts in number eg. 10" />
			<br />
			<span>Enter the diameter of spinner:</span>
			<input type="text" id="width" placeholder="diameter in px eg. 300" />
			<br />
			<div class="button" onclick="startApp()">Create</div>
			<br />
			<div>Click/tap on the spinner to start/ stop it.</div>
		</section>
		<section id="spinner" onclick="toggleRotation()"></section>

		<section id="result"></section>
		<footer>&copy; Shashank Shovit</footer>
	</body>
</html>